[project]
requires-python = ">=3.7"

[build-system]
requires = ["setuptools>=42", 
            "wheel", 
            "numpy>=1.15",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 100
target-version = ['py37','py38','py39']

[tool.cibuildwheel]
before-build = "pip install setuptools wheel numpy"
skip = "pp*"
manylinux-x86_64-image = "manylinux2014"
test-requires = ["pytest"]
test-command = "pytest {package}/tests"

[tool.cibuildwheel.linux]
before-all = "yum install -y swig"
archs = ["x86_64"]

[tool.cibuildwheel.macos]
before-all = "brew install swig"
archs = ["x86_64"]

[[tool.cibuildwheel.overrides]]
select = "*-musllinux*"
before-all = "apk add swig"

