cmaketools>=0.1.6
setuptools>=50.3.2
numpy
jax
jaxlib
matplotlib
colorama
graphviz
yattag

# Optional
# mayavi # Used by MayaviMakePlot
# plotly # Used by PlotlyMakePlot
# pdfCropMargins # Used to crop pdfs in PlotlyMakePlot
# kaleido # Used to save plotly plots
