numpy
jax
jaxlib
jaxtyping
annotated-types
matplotlib
plotly
kaleido
PyQt5
Pillow
colorama
graphviz
yattag
tqdm
pandas
openpyxl

# Optional
# pdfCropMargins # Used to crop pdfs in PlotlyMakePlot
# mayavi # Used by MayaviMakePlot
