sphinx >=3, < 4 
sphinx_rtd_theme
sphinx-copybutton
numpy
scipy
pandas
matplotlib
breathe
exhale
nbsphinx
ipykernel
jax
jaxlib
jaxtyping
annotated_types
colorama
graphviz
yattag
plotly 
Jinja2<3.1
sympy
