name: Run most examples

on:
  workflow_dispatch:

jobs:
  run_examples:
    runs-on: ubuntu-latest
    env:
      DISPLAY: :0
      # QT_DEBUG_PLUGINS: 1 # Uncomment if you run into trouble with QT. This will give better logs.
    steps:

      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3

      - run: "sudo apt-get update && sudo apt-get install -y swig gcc g++ graphviz"
      - run: python -m pip install wheel setuptools numpy pytest
      - run: python setup.py bdist_wheel
      - run: pip install ./dist/*.whl
      - run: pip install -r ./requirements.txt

      - name: Setup xvfb (Linux)
        run: |
              sudo apt-get install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 libxcb-shape0
              # start xvfb on (default) display :0
              sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &

      - name: run all examples
        run: "cd tests; ./test_all -j 2"
